BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> e7a5b252604e

INSERT INTO alembic_version (version_num) VALUES ('e7a5b252604e') RETURNING alembic_version.version_num;

COMMIT;

